<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>  

<div id="app">
    <p>{{$data}}</p>
    <p v-for="item in $data"> {{item}} </p>
    <hr>
    <li v-for="(x,y) in $data"> {{x}} : {{y}}</li>
</div>


<script>
  
    new Vue({
        el: '#app'
        , data: {
            myText: 'hello',
            myNumber: 12345,
            myBoolean: true,
            myArray: [1,2,3,4,5]
        }
    });

</script>

</body>
</html>