@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

html{
    font-size: 16px;
}

article h1{
    font-weight: bold;
    color: blue;
    font-size:3rem;
}

article p {
    font-size: 1rem;
}

article p span{
    font-size: 1.5em;
    font-weight: bold;
}

article a {
    font-size: 0.8rem;
}


ul li{
    font-size: 40px;
}

ul li:nth-of-type(1){
    font-family:"돋움";
}

ul li:nth-of-type(2){
    font-family:"굴림";
}

ul li:nth-of-type(3){
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul li:nth-of-type(4){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#txt{
    font-size: 5rem;
    font-family: 'Protest Riot', sans-serif;
}

i.fa-brands.fa-apple {
    font-size: 100px;
}