article{
    border: 1px solid red;    
}

article:nth-of-type(1) {
    width: 100px;
    height: 100px;
    margin: auto;
}

article:nth-of-type(2) {
    width: 20%;
    height: 20%;
    padding: 0px;
}

article:nth-of-type(3) {
    width: 10vw;
    height: 10vw;
}

article:nth-of-type(4) {
    width: 10vh;
    height: 10vh;
}

article.box:first-child(1){
    padding:0px;
}

article.box:nth-child(2){
    padding:30px;
    color:blue;
}

